/* styles that apply to all pages */
body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eeffee;
    color: #333;
  }
  
  h1, h2, h3 {
    color: #2c3e50;
  }
  
  section {
    padding: 20px;
  }

  ul {
    padding: 0px;
  }
  
  input {
    padding: 6px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  } input :focus {
    border: 3px solid #555;
  }

  button {
    font-family: 'Segoe UI', sans-serif;
    padding: 8px 16px;
    background-color: #299d71;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0f6d49;
  }  

/* CLASSES */

/* listings */
.listing {
  flex: 0 1 calc(50% - 30px);
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: left;
} .listing img {
  width: 350px;
  height: auto;
  margin-top: 10px;
  object-fit: cover;
  align-items: center;
}

.listingContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.listingInfo {
  flex: 1;
  padding-left: 50px;
} .listingInfo p {
  margin: 5px 0;
} .listingInfo a {
  color: #2f9632;
  text-decoration: none;
} .listingInfo a:hover {
  text-decoration: underline;
}

.itemName {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Lucida Sans', sans-serif;
} .itemOwner {
  font-size: 20px;
  font-style: italic;
  font-weight: light;
} .itemDesc {
  font-size: 18px;
}

.search {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
} .search input {
  margin-left: 50px;
  width: 25%;
}

/* profile */
.profile {
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
} .profile h1 {
  margin-bottom: 10px;
  font-size: 34px;
  color: #0f6d49;
  font-family: 'Lucida Sans', sans-serif;
  font-weight: bold;
} .profile p {
  margin: 6px 0;
  font-size: 15px;
  color: #555;
} .profile button {
  margin-top: 10px;
}

/* sign up */
.signup {
  max-width: 300px;
  margin: 40px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
} .signup h1 {
  margin: 0 10px 20px;
} .signup input {
  margin: 10px;
} .signup button {
  margin-top: 20px;
}

.popup {
  list-style: none;
  background-color: #ffe5e5;
  color: #b00020;
  padding: 12px 16px;
  margin-top: 10px;
  border: 1px solid #f5c2c2;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
}

/* login */
.login {
  max-width: 300px;
  margin: 40px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
} .login h1 {
  margin: 0 10px 20px;
} .login input {
  margin: 10px;
} .login button {
  margin-top: 20px;
}

/* listing details */
.listingDetails {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
  max-width: 70%;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap; /* in case of small screen */
}

.listingDetailsImg img {
  margin: 40px 100px;
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.listingDetailsInfo {
  flex: 1;
  min-width: 250px;
} .listingDetailsInfo h1 {
  margin: 40px 0 0;
} .listingDetailsInfo p {
  margin: 14px 0;
} .listingDetailsInfo button {
  margin-top: 15px;
  padding: 10px 18px;
  background-color: #b13911;
  color: white;
  font-weight: bold;
  border: none;
} .listingDetailsInfo button:hover {
  background-color: #d66b47;
} #listedDate {
  background-color: #d9d9d9;
  color: rgb(55, 55, 55);
  padding: 20px 20px;
  width: 50%;
  border-radius: 5px;
  font-size: 15px;
} #owner {
  margin: 6px 0 0 0;
  font-size: 20px;
}